<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Data Source=192.168.0.1;Database=navdb;uid=root;password=;CHARSET=utf8;convert zero datetime=True" />
    <add name="NavdbConnectionString" connectionString="Data Source=192.168.0.69;Database=navdb;uid=root;password=;CHARSET=utf8;convert zero datetime=True" />
    <add name="navdb_all" connectionString="Data Source=192.168.0.1;Database=navdb_all;uid=root;password=;CHARSET=utf8;convert zero datetime=True" />
    <add name="midb" connectionString="Data Source=192.168.0.1;Database=midb;uid=root;password=;CHARSET=utf8;convert zero datetime=True" />
    <add name="navdb_request" connectionString="Data Source=127.0.0.1;Database=navdb_request;uid=root;password=;CHARSET=utf8;convert zero datetime=True" />
    <add name="Navy.Properties.Settings.NavDBConnectionString" connectionString="Dsn=NavDB;desc=MySQL ODBC 3.51 Driver DSN;database=NavDB;server=192.168.0.1;uid=root;port=3306;option=3" providerName="System.Data.Odbc" />
  </connectionStrings>
  <appSettings>    
    <add key="PhotoPath" value="\\192.168.0.1/NavyImages" />
    <add key="PhotoPath_personcard" value="\\192.168.0.1/NavyImages/personcard" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="batt_1" value="แดง" />
    <add key="batt_2" value="น้ำเงิน" />
    <add key="batt_3" value="เหลือง" />
    <add key="batt_4" value="เขียว" />
    <add key="batt_5" value="ต" />
    <add key="batt_6" value="ล" />
    <add key="batt_7" value="กนร" />
    <add key="runcode_from" value="1" />
    <add key="runcode_to" value="4000" />
    <add key="Color_batt_1" value="-65536" />
    <add key="Color_batt_2" value="-13387785" />
    <add key="Color_batt_3" value="-256" />
    <add key="Color_batt_4" value="-16711936" />
    <add key="Color_batt_5" value="-32768" />
    <add key="Color_batt_6" value="-8355585" />
    <add key="Color_batt_7" value="-65408" />
    <add key="Printer" value="\\NAVY_KWANG\Brother DCP-T500W Printer" />
    <add key="PaperSizeW" value="10" />
    <add key="PaperSizeH" value="7" />
    <add key="FontSize" value="16,&#xA;10,&#xA;10,&#xA;10,&#xA;10,&#xA;10,&#xA;10,&#xA;10,&#xA;14,&#xA;10,&#xA;10,&#xA;10,&#xA;10" />
    <add key="Driver" value="Generic Smart Card Reader Interface 0" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.data>
    <DbProviderFactories>


      <remove invariant="lcpi.data.oledb" />
      <add name="LCPI OleDb Data Provider" invariant="lcpi.data.oledb" description="LCPI .NET Data Provider for OLE DB" type="lcpi.data.oledb.OleDbFactory, lcpi.data.oledb.net4_5, Version=1.6.0.3379, Culture=neutral, PublicKeyToken=ff716095e8002e7e" />
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.11.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WinForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>